In [4]:
import pandas as pd

In [36]:
df = pd.read_csv('../data/openrice_data.csv')
dfLL = pd.read_csv('../data/LLV.csv')
df.head()

,餐廳名字,地址,地區,價格,餐廳種類,好評,差評,評論數,評分,人均價格,緯度,經度
0,Uncle Pizza Pasta & Grill,中環伊利近街25號地下,中環,$101-200,意大利菜,270,7,4,3.5,150,22.282598,114.166740
1,Le Viet,旺角彌敦道636號銀行中心1樓101-106,旺角,$101-200,越南菜,543,6,4,3.5,150,22.315031,114.173134
2,Wheatfield X 羅宋湯專門店 (東薈城),東涌達東路20號東薈城二期名店倉7樓703號舖,東涌,$51-100,多國菜,55,2,68,4.0,75,22.287400,113.942500
3,牛角次男坊 (東薈城),東涌達東路20號東薈城2期7樓706號舖,東涌,$51-100,日本菜,39,3,73,4.0,75,22.287400,113.942500
4,島中坊研,長洲中學路16號地下,長洲,$50以下,西式,53,1,76,4.0,50,22.201600,114.026500

In [38]:
#df.drop(["經度"],axis=1,inplace = True)
print('Thd row dataset has ', df.shape[0], ' rows', df.shape[1], ' colunms \n' \
      'The columns name:', df.columns,'\n'
      ,df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765 entries, 0 to 764
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   餐廳名字    765 non-null    object
 1   地址      765 non-null    object
 2   地區      765 non-null    object
 3   價格      765 non-null    object
 4   餐廳種類    765 non-null    object
 5   好評      765 non-null    int64
 6   差評      765 non-null    int64
 7   評論數     765 non-null    int64
 8   評分      765 non-null    float64
 9   人均價格    765 non-null    int64
 10  緯度      765 non-null    float64
 11  經度      765 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 71.8+ KB
Thd row dataset has  765  rows 12  colunms
The columns name: Index(['餐廳名字', '地址', '地區', '價格', '餐廳種類', '好評', '差評', '評論數', '評分', '人均價格', '緯度',
       '經度'],
      dtype='object')
 None

In [3]:
dfLL.head()

    地區        緯度         經度
0  九龍城  22.31944  114.17778
1   觀塘  22.31056  114.22278
2  深水埗  22.32917  114.16028
3   荃灣  22.37806  114.10528
4   葵湧  22.36194  114.13500

In [4]:
#df.drop(["Unnamed: 8"],axis=1,inplace = True)
df.head()

,餐厅名字,地址,地区,价格,餐厅种类,好评,差评,评论数,评分,人均价格
0,Uncle Pizza Pasta & Grill,中環伊利近街25號地下,中環,$101-200,意大利菜,270,7,4,3.5,150
1,Le Viet,旺角彌敦道636號銀行中心1樓101-106,旺角,$101-200,越南菜,543,6,4,3.5,150
2,Wheatfield X 羅宋湯專門店 (東薈城),東涌達東路20號東薈城二期名店倉7樓703號舖,東涌,$51-100,多國菜,55,2,68,4.0,75
3,Wheatfield X 羅宋湯專門店 (東薈城),東涌達東路20號東薈城二期名店倉7樓703號舖,東涌,$51-100,多國菜,55,2,68,4.0,75
4,Wheatfield X 羅宋湯專門店 (東薈城),東涌達東路20號東薈城二期名店倉7樓703號舖,東涌,$51-100,多國菜,55,2,68,4.0,75

In [11]:
dfarea = df['地區'].drop_duplicates().values.tolist()
len(dfarea)
#dfarea

50

In [9]:
#df.insert(df.shape[1], '緯度', 0)
#df.insert(df.shape[1], '經度', 0)
#df.drop(["Unnamed: 8"],axis=1,inplace = True)
df.head()
#df['緯度']=0
#df['經度']=0

,餐廳名字,地址,地區,價格,餐廳種類,好評,差評,評論數,評分,人均價格,緯度,經度
0,Uncle Pizza Pasta & Grill,中環伊利近街25號地下,中環,$101-200,意大利菜,270,7,4,3.5,150,0,0
1,Le Viet,旺角彌敦道636號銀行中心1樓101-106,旺角,$101-200,越南菜,543,6,4,3.5,150,0,0
2,Wheatfield X 羅宋湯專門店 (東薈城),東涌達東路20號東薈城二期名店倉7樓703號舖,東涌,$51-100,多國菜,55,2,68,4.0,75,0,0
3,Wheatfield X 羅宋湯專門店 (東薈城),東涌達東路20號東薈城二期名店倉7樓703號舖,東涌,$51-100,多國菜,55,2,68,4.0,75,0,0
4,Wheatfield X 羅宋湯專門店 (東薈城),東涌達東路20號東薈城二期名店倉7樓703號舖,東涌,$51-100,多國菜,55,2,68,4.0,75,0,0

In [10]:
df.rename(columns={'餐厅名字':'餐廳名字','地址':'地址','地区':'地區','价格':'價格','餐厅种类':'餐廳種類','好评':'好評','差评':'差評','评论数':'評論數','评分':'評分','人均价格':'人均價格'}, inplace = True)
df.to_csv("../data/df.csv",index=False,sep=',')
df.head()

,餐廳名字,地址,地區,價格,餐廳種類,好評,差評,評論數,評分,人均價格,緯度,經度
0,Uncle Pizza Pasta & Grill,中環伊利近街25號地下,中環,$101-200,意大利菜,270,7,4,3.5,150,0,0
1,Le Viet,旺角彌敦道636號銀行中心1樓101-106,旺角,$101-200,越南菜,543,6,4,3.5,150,0,0
2,Wheatfield X 羅宋湯專門店 (東薈城),東涌達東路20號東薈城二期名店倉7樓703號舖,東涌,$51-100,多國菜,55,2,68,4.0,75,0,0
3,Wheatfield X 羅宋湯專門店 (東薈城),東涌達東路20號東薈城二期名店倉7樓703號舖,東涌,$51-100,多國菜,55,2,68,4.0,75,0,0
4,Wheatfield X 羅宋湯專門店 (東薈城),東涌達東路20號東薈城二期名店倉7樓703號舖,東涌,$51-100,多國菜,55,2,68,4.0,75,0,0

In [ ]:
df['地區'].value_counts()

In [38]:
df = pd.read_csv('../data/df.csv')
dfLL = pd.read_csv('../data/LLV.csv')
df.head()

,餐廳名字,地址,地區,價格,餐廳種類,好評,差評,評論數,評分,人均價格,緯度,經度
0,Uncle Pizza Pasta & Grill,中環伊利近街25號地下,中環,$101-200,意大利菜,270,7,4,3.5,150,0,0
1,Le Viet,旺角彌敦道636號銀行中心1樓101-106,旺角,$101-200,越南菜,543,6,4,3.5,150,0,0
2,Wheatfield X 羅宋湯專門店 (東薈城),東涌達東路20號東薈城二期名店倉7樓703號舖,東涌,$51-100,多國菜,55,2,68,4.0,75,0,0
3,Wheatfield X 羅宋湯專門店 (東薈城),東涌達東路20號東薈城二期名店倉7樓703號舖,東涌,$51-100,多國菜,55,2,68,4.0,75,0,0
4,Wheatfield X 羅宋湯專門店 (東薈城),東涌達東路20號東薈城二期名店倉7樓703號舖,東涌,$51-100,多國菜,55,2,68,4.0,75,0,0

In [39]:
dfLL.head()

    地區        緯度         經度
0  九龍城  22.31944  114.17778
1   觀塘  22.31056  114.22278
2  深水埗  22.32917  114.16028
3   荃灣  22.37806  114.10528
4   葵湧  22.36194  114.13500

In [12]:
for area in dfarea:
    #print(area)
    value1 = dfLL[dfLL['地區']==area].iat[0, 1]#提取緯度
    value2 = dfLL[dfLL['地區']==area].iat[0, 2]#提取緯度
    df.緯度[df.地區==area] = value1
    df.經度[df.地區==area] = value2

df.to_csv("../data/df1.csv",index=False,sep=',')

<ipython-input-12-ed9a498ec41a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.緯度[df.地區==area] = value1
<ipython-input-12-ed9a498ec41a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.經度[df.地區==area] = value2
<ipython-input-12-ed9a498ec41a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.緯度[df.地區==area] = value1
<ipython-input-12-ed9a498ec41a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.經度[df.地區==area] = value2

In [19]:
df3 = pd.read_csv('../data/df1.csv')
newDF = df3.drop_duplicates()
newDF
newDF.to_csv("../data/newDF.csv",index=False,sep=',')