In [33]:
import pandas as pd
import re
import numpy as np

In [437]:
JapanNuclearWater = pd.read_csv('../data/Twitter/twitter.csv')
#Fukushima = pd.read_csv('../data/Fukushima.csv')
# JapanNuclearWater = pd.read_csv('../data/Weibo/weibo.csv')
# JapanNuclearWater = df
df = JapanNuclearWater
df.head()

,user_id,created_at,screen_name,text,location
0,9.160000e+17,18/4/2021 11:51,XGuoforWaterloo,@JohnOCAP Don't forget the #Fukushima #Nuclear...,"Kitchener, Ontario"
1,9.160000e+17,17/4/2021 11:49,XGuoforWaterloo,@rafaelmgrossi @iaeaorg The attitude of the US...,"Kitchener, Ontario"
2,1.463413e+09,18/4/2021 11:44,Aroguden,#SouthKorea raised concerns over #Japan's deci...,Barquisimeto-Venezuela
3,1.463413e+09,13/4/2021 11:32,Aroguden,#Japan will release more than a million tonnes...,Barquisimeto-Venezuela
4,1.463413e+09,14/4/2021 9:38,Aroguden,#SouthKorea aims to fight #Japan's #Fukushima ...,Barquisimeto-Venezuela

In [441]:
# #df.dropna(inplace = True)
# #China df
# China1 = df[JapanNuclearWater['location'] == 'Beijing, China']
# China2 = df[JapanNuclearWater['location'] == 'Beijing']
# China3 = df[JapanNuclearWater['location'] == 'ä¸­åäººæ°‘å…±å’Œå›½']
# China4 = df[JapanNuclearWater['location'] == 'Peoplestr\'s Republic of China']
# China5 = df[JapanNuclearWater['location'] == 'åŒ—äº¬, ä¸­åäººæ°‘å…±å’Œå›½']
# China6 = df[JapanNuclearWater['location'] == 'Hangzhou | Zhejiang | PRC ğŸ‡¨ğŸ‡³']
# China7 = df[JapanNuclearWater['location'] == 'China']



# #Japan df
# Japan1 = df[JapanNuclearWater['location'] == 'Tokyo, Japan']
# Japan2 = df[JapanNuclearWater['location'] == 'Tokyo']
# Japan3 = df[JapanNuclearWater['location'] == 'Japan']

# #USA df
# USA1 = df[JapanNuclearWater['location'] == 'United States']
# USA2 = df[JapanNuclearWater['location'] == 'USA']
# USA3 = df[JapanNuclearWater['location'] == 'Washington, DC']

# #England df
# England1 = df[JapanNuclearWater['location'] == 'London']
# England2 = df[JapanNuclearWater['location'] == 'London, England']

# #India df
# India = df[JapanNuclearWater['location'] == 'India']
HongKong = df[JapanNuclearWater['location'] == 'Hong Kong']

In [439]:
# China = pd.concat([England1,England2])
# China.head()

In [442]:
HongKong.to_csv("../data/HongKongTwist.csv",index=False,sep=',', encoding='utf-8')

In [435]:
region = pd.read_csv('../data/RegionRanking.csv')
# s = JapanNuclearWater['location'].value_counts().head(100)
# df=s.to_frame()
# df
# df.reset_index(inplace = True)
# #user_id	created_at	screen_name	text	JapanNuclearWater_tweet_df.location
# df.rename(columns={'index':'region'
#                                }, inplace = True)
# df.head()
region['region'].tolist()

['Beijing, China',
 'United States',
 'Earth',
 'Tokyo, Japan',
 'Beijing',
 'Hong Kong',
 'London',
 'USA',
 'Tokyo',
 'ä¸­åäººæ°‘å…±å’Œå›½',
 'India',
 "People's Republic of China",
 'åŒ—äº¬, ä¸­åäººæ°‘å…±å’Œå›½',
 'Censored',
 'London, England',
 'Hangzhou | Zhejiang | PRC ğŸ‡¨ğŸ‡³',
 'Washington, DC',
 'China',
 '127.0.0.0',
 'Japan',
 'Global',
 'Ontario, Canada',
 'New Delhi, India',
 'Wien, Ã–sterreich',
 'Los Angeles, CA',
 'California, USA',
 'France',
 'ëŒ€í•œë¯¼êµ­ ì„œìš¸',
 'Seoul, Korea ',
 'Canada',
 'Singapore',
 'Tokyoâ¡Kumamoto,Japan',
 'City of London, London',
 'UK',
 'Germany',
 'é–¢æ±åœ°æ–¹ JAPAN      æ¸¬å®šå™¨ï¼šDC100',
 'onmyoji',
 'New York, USA',
 'Seoul, Korea',
 'Malaysia',
 'Hong Kong is part of China',
 'Headquartered in Beijing, PRC',
 'ã¾ã»ã‚ã° ã‚„ã¾ã®ã¹ã®ã¿ã¡',
 'Beijing, CHINA',
 'Australia',
 'Shanghai',
 'Dublin City, Ireland',
 'Worldwide',
 'United Kingdom',
 'ITALY',
 'Jakarta, Indonesia',
 'New York, NY',
 'ğŸŒ',
 'The United Kingdom ',
 'Vienna, Austria',
 'Jamaica- Trinidad &Tobago',
 'Dhaka, Bangladesh',
 'ğŸ‡¦ğŸ‡º Australia  ',
 'Lucknow Canttonment Zone, Luck',
 'Chicago, IL',
 'London, UK',
 'Mumbai, India',
 'Berlin',
 'Shenzhen',
 'Berlin, Germany',
 'XINJIANG',
 'Paris, France',
 'San Francisco, CA',
 'Amsterdam, The Netherlands',
 'æµ·åƒå±±åƒ ',
 'Shanghai China',
 'Melbourne, Victoria',
 'Auckland',
 'Brampton, Ontario',
 'Denmark',
 'å°ç£',
 'æ¶äººè°·',
 'Whitehouse, OH',
 'NIBIRU PLANET X',
 'Barquisimeto-Venezuela',
 'ä¸Šæµ·, ä¸­åäººæ°‘å…±å’Œå›½',
 'NÃ¼rnberg, Bayern',
 'Hong Kong, China',
 'England',
 'Geneva, Switzerland',
 "At Gold's Gym making gains.",
 'Seoul, South Korea',
 'mars',
 'Alpha Centauri  ',
 'new york',
 'Karimnagar, India',
 'My dog â„ğŸ•â„ @SnowdogChampion',
 'Ahmedabad',
 'South Africa',
 'Canterbury Region, New Zealand',
 'tokyo',
 'Ireland',
 'Birmingham, England',
 'Berlin, Deutschland',
 'Midland, Texas']

In [303]:
Weibo1 = pd.read_csv('../data/Weibo/å¾®åš2021-04-12.csv')
Weibo2 = pd.read_csv('../data/Weibo/å¾®åš2021-04-13.csv')
Weibo3 = pd.read_csv('../data/Weibo/å¾®åš2021-04-14.csv')
Weibo4 = pd.read_csv('../data/Weibo/å¾®åš2021-04-15.csv')
Weibo5 = pd.read_csv('../data/Weibo/å¾®åš2021-04-16.csv')
Weibo6 = pd.read_csv('../data/Weibo/å¾®åš2021-04-17.csv', sep='\t', encoding='utf-8', lineterminator='\n')
Weibo7 = pd.read_csv('../data/Weibo/å¾®åš2021-04-18.csv', sep='\t', encoding='utf-8', lineterminator='\n')
Weibo = pd.concat([Weibo,Weibo7])
Weibo.shape

(6390, 12)

In [324]:
Weibo.to_csv("../data/Weibo/weibo.csv",index=False,sep=',', encoding='utf-8')
Weibo = pd.read_csv('../data/Weibo.csv')
Weibo.shape

(6390, 12)

In [31]:
twitter1 = pd.read_csv('../data/Twitter/Fukushima.csv')
twitter2 = pd.read_csv('../data/Twitter/NuclearWaste.csv')
twitter3 = pd.read_csv('../data/Twitter/JapanNuclearWater.csv')
twitter4 = pd.read_csv('../data/Twitter/Japannuclearwastewater.csv')
twitter = pd.concat([twitter,twitter4])
twitter.head()

,user_id,created_at,screen_name,text,location
0,9.156680e+17,2021-04-18 11:51:30,XGuoforWaterloo,@JohnOCAP Don't forget the #Fukushima #Nuclear...,"Kitchener, Ontario"
1,9.156680e+17,2021-04-17 11:49:52,XGuoforWaterloo,@rafaelmgrossi @iaeaorg The attitude of the US...,"Kitchener, Ontario"
2,1.463413e+09,2021-04-18 11:44:34,Aroguden,#SouthKorea raised concerns over #Japan's deci...,Barquisimeto-Venezuela
3,1.463413e+09,2021-04-13 11:32:23,Aroguden,#Japan will release more than a million tonnes...,Barquisimeto-Venezuela
4,1.463413e+09,2021-04-14 09:38:19,Aroguden,#SouthKorea aims to fight #Japan's #Fukushima ...,Barquisimeto-Venezuela

In [32]:
twitter.to_csv("../data/twitter.csv",index=False,sep=',', encoding='utf-8')

- ç”¨æ­£åˆ™è¡¨è¾¾å¼æå–@mentionç”¨æˆ·

In [326]:
def retrieveMention(df):
    df['new']=''
    
    reg=r"@.*? "
    for index, row in df.iterrows():
        df['new'][index]=';'.join(re.findall(reg, row['text']))
    return df

- create user_mention dataframe

In [327]:
def user_mention_df(dataset):
    userNameL = []
    mentionNameL = []
    lenOfmention = 0
    for index, row in dataset.iterrows():
        if len(dataset['new'].str.split(' ;', 100).tolist()[index]) == 1: # å¦‚æœä¸€ä¸ªç”¨æˆ·@è¶…è¿‡ä¸€ä¸ªé‚£ä¹ˆå°±æŠŠä»–@çš„ç”¨æˆ·ä¸€ä¸ªä¸ªéš”ç¦»å¯¹åº”ç”¨æˆ·åˆ†åˆ«æ”¾åœ¨ä¸€è¡Œ
            userName = dataset['screen_name'].tolist()[index]
            mentionName = dataset['new'].tolist()[index] #æœ¬æ¥å°±@é‡Œä¸€ä¸ªç”¨æˆ·ï¼Œå°±ä¸éœ€è¦éš”ç¦»äº†ï¼Œä¸ç„¶ä¼šå‡ºç°listä¸­æœ‰list
            userNameL.append(userName)
            mentionNameL.append(mentionName)    
        else:
            for lenOfmention in range(len(dataset['new'].str.split(' ;', 100).tolist()[index])):
                userName = dataset['screen_name'].tolist()[index]
                mentionName = dataset['new'].str.split(' ;', 100).tolist()[index][lenOfmention]
                userNameL.append(userName)
                mentionNameL.append(mentionName)
    
    #List to dataframe
    c={"userName" : userNameL,
    "mentionName" : mentionNameL}
    
    data=pd.DataFrame(c)
    
    print('the lengh of user: ', len(userNameL))
    print('the lengh of mention:', len(mentionNameL))
    
    return data

In [334]:
JapanNuclearWater = retrieveMention(JapanNuclearWater)

<ipython-input-326-a23953796e4c>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['new'][index]=';'.join(re.findall(reg, row['text']))

In [335]:
JapanNuclearWater.to_csv("../data/JapanNuclearWaterUserMention.csv",index=False,sep=',', encoding='utf-8')
JapanNuclearWaterUserMention = pd.read_csv('../data/JapanNuclearWaterUserMention.csv')
JapanNuclearWaterUserMention = JapanNuclearWaterUserMention.dropna(subset = ['new'])
JapanNuclearWaterUserMention = JapanNuclearWaterUserMention.reset_index(drop = True)
df = user_mention_df(JapanNuclearWaterUserMention)

the lengh of user:  350
the lengh of mention: 350

In [336]:
df = user_mention_df(JapanNuclearWaterUserMention)
df

the lengh of user:  350
the lengh of mention: 350

           userName mentionName
0           hikaruå§¬    @Mr_å‡¡å…ˆç”Ÿ
1               é›¨æ¼«å€¾        @ä¸–é¢
2            Aecho9   @ç‹å­Ÿæºdudu
3            Aecho9   @ç‹å­Ÿæºdudu
4          NBAshley   @ä¸‰ç»´åœ°å›¾çœ‹ä¸–ç•Œ
..              ...         ...
345             æ²¸å…”å…”       @å¾®ä¸¢Â
346            ä¸€ç¢—æ— é‡        @ä¸–é¢
347           å¤§è‘±é±¼å­é…±   @R1SE-å§šç›
348           è¥¿é’æ£€å¯Ÿå®˜       @è¿™è§†é¢‘
349  æœ‰å¿ƒäºº18266528387       @äººæ°‘ç½‘

[350 rows x 2 columns]

In [337]:
df.to_csv("../data/WeiboUserMention.csv",index=False,sep=',', encoding='utf-8')

## Rename columns

In [121]:
Fukushima = pd.read_csv('../data/weibo.csv')
Fukushima.head()

,åšä¸»,id,æ—¶é—´,æ¥æº,æ”¶è—,è½¬å‘,è¯„è®º,ç‚¹èµ,è‰¾ç‰¹,æ ‡ç­¾,å†…å®¹
0,2345è½è‹±ç¼¤çº·,6628711225,04æœˆ12æ—¥ 22:59,OPPOæ™ºèƒ½æ‰‹æœº,NaN,NaN,NaN,1.0,NaN,#æ—¥æœ¬æ ¸åºŸæ°´å¯è‡´ç™Œè‡´ç•¸è‡´çªå˜#,è”åˆå›½å‘¢ï¼Ÿè¿™ä¹ˆå¤§çš„äº‹éƒ½ä¸å‘å£°çš„å—ï¼Ÿæˆ‘å¤©è™½ç„¶æˆ‘ä¸æ˜¯åŒ»å­¦ç”Ÿï¼Œä½†æ˜¯åˆ‡å°”è¯ºè´åˆ©çºªå½•ç‰‡çœ‹å¾—æˆ‘æ¯›éª¨æ‚šç„¶ï¼Œ...
1,è„¸é•¿ä¹Ÿå«ç‰¹é•¿baiç”Ÿ,2962593974,04æœˆ12æ—¥ 22:59,OPPO R9s,NaN,NaN,NaN,NaN,NaN,#æ—¥æœ¬æ ¸åºŸæ°´å¯è‡´ç™Œè‡´ç•¸è‡´çªå˜#,"æ—¥æœ¬æ ¸åºŸæ°´ä¸€æ—¦æ’å…¥å¤ªå¹³æ´‹ä¸­å±å®³æœ‰å¤šå¤§,ä»¥åæµ·é²œè¿˜æœ‰äººæ•¢åƒå—?â€œå“¥æ–¯æ‹‰â€ä¼šå› æ­¤å‡ºç°å—ï¼Ÿ ï¿¼mo..."
2,å°æ¡ƒçº¢æŸ³ç»¿,2149115373,04æœˆ12æ—¥ 22:59,åä¸ºP8,NaN,NaN,NaN,NaN,NaN,#æ—¥æœ¬æ ¸åºŸæ°´å¯è‡´ç™Œè‡´ç•¸è‡´çªå˜#,ã€ä¸“å®¶ï¼šã€‘4æœˆ9æ—¥ï¼Œæ—¥æœ¬æ”¿åºœåŸºæœ¬å†³å®šå°†ç¦å²›æ ¸æ±¡æ°´æ’å…¥å¤§æµ·ã€‚12æ—¥ï¼Œæ—¥æœ¬é¦–ç›¸è…ä¹‰ä¼Ÿè¡¨ç¤ºï¼Œè§£å†³ä¸œ...
3,è‹¹æœæŸ æª¬åˆ®æ²¹æ±¤,2635391551,04æœˆ12æ—¥ 22:59,Androidå®¢æˆ·ç«¯,NaN,NaN,NaN,NaN,NaN,#æ—¥æœ¬æ ¸åºŸæ°´å¯è‡´ç™Œè‡´ç•¸è‡´çªå˜#,ä»Šæ—¥æ—¥æœ¬é¦–ç›¸è…ä¹‰ä¼Ÿå†æ¬¡è¡¨ç¤ºï¼Œç¦å²›æ ¸æ±¡æ°´æ’å…¥å¤§æµ·å·²ç»ä¸èƒ½æ¨è¿Ÿäº†å¾·å›½çš„æµ·æ´‹ç§‘å­¦ç ”ç©¶æœºæ„çš„è®¡ç®—æ˜¾ç¤º...
4,é™³æ¯…YiChen,2389546112,04æœˆ12æ—¥ 22:59,å°ç±³5s æ‹ç…§é»‘ç§‘æŠ€,NaN,NaN,NaN,NaN,NaN,#æ—¥æœ¬æ ¸åºŸæ°´å¯è‡´ç™Œè‡´ç•¸è‡´çªå˜#,ã€ä¸“å®¶ï¼šã€‘4æœˆ9æ—¥ï¼Œæ—¥æœ¬æ”¿åºœåŸºæœ¬å†³å®šå°†ç¦å²›æ ¸æ±¡æ°´æ’å…¥å¤§æµ·ã€‚12æ—¥ï¼Œæ—¥æœ¬é¦–ç›¸è…ä¹‰ä¼Ÿè¡¨ç¤ºï¼Œè§£å†³ä¸œ...

In [332]:
#user_id	created_at	screen_name	text	JapanNuclearWater_tweet_df.location
JapanNuclearWater.rename(columns={'åšä¸»':'screen_name'
                               }, inplace = True)
# JapanNuclearWater.drop(columns=["åšä¸»,id,æ—¶é—´,æ¥æº,æ”¶è—,è½¬å‘,è¯„è®º,ç‚¹èµ,è‰¾ç‰¹,æ ‡ç­¾,å†…å®¹\r"], inplace = True)

In [333]:
JapanNuclearWater.head()

,screen_name,id,æ—¶é—´,æ¥æº,æ”¶è—,è½¬å‘,è¯„è®º,ç‚¹èµ,è‰¾ç‰¹,æ ‡ç­¾,text,new
0,2345è½è‹±ç¼¤çº·,6.628711e+09,04æœˆ12æ—¥ 22:59,OPPOæ™ºèƒ½æ‰‹æœº,NaN,NaN,NaN,1.0,NaN,#æ—¥æœ¬æ ¸åºŸæ°´å¯è‡´ç™Œè‡´ç•¸è‡´çªå˜#,è”åˆå›½å‘¢ï¼Ÿè¿™ä¹ˆå¤§çš„äº‹éƒ½ä¸å‘å£°çš„å—ï¼Ÿæˆ‘å¤©è™½ç„¶æˆ‘ä¸æ˜¯åŒ»å­¦ç”Ÿï¼Œä½†æ˜¯åˆ‡å°”è¯ºè´åˆ©çºªå½•ç‰‡çœ‹å¾—æˆ‘æ¯›éª¨æ‚šç„¶ï¼Œ...,
1,è„¸é•¿ä¹Ÿå«ç‰¹é•¿baiç”Ÿ,2.962594e+09,04æœˆ12æ—¥ 22:59,OPPO R9s,NaN,NaN,NaN,NaN,NaN,#æ—¥æœ¬æ ¸åºŸæ°´å¯è‡´ç™Œè‡´ç•¸è‡´çªå˜#,"æ—¥æœ¬æ ¸åºŸæ°´ä¸€æ—¦æ’å…¥å¤ªå¹³æ´‹ä¸­å±å®³æœ‰å¤šå¤§,ä»¥åæµ·é²œè¿˜æœ‰äººæ•¢åƒå—?â€œå“¥æ–¯æ‹‰â€ä¼šå› æ­¤å‡ºç°å—ï¼Ÿ ï¿¼mo...",
2,å°æ¡ƒçº¢æŸ³ç»¿,2.149115e+09,04æœˆ12æ—¥ 22:59,åä¸ºP8,NaN,NaN,NaN,NaN,NaN,#æ—¥æœ¬æ ¸åºŸæ°´å¯è‡´ç™Œè‡´ç•¸è‡´çªå˜#,ã€ä¸“å®¶ï¼šã€‘4æœˆ9æ—¥ï¼Œæ—¥æœ¬æ”¿åºœåŸºæœ¬å†³å®šå°†ç¦å²›æ ¸æ±¡æ°´æ’å…¥å¤§æµ·ã€‚12æ—¥ï¼Œæ—¥æœ¬é¦–ç›¸è…ä¹‰ä¼Ÿè¡¨ç¤ºï¼Œè§£å†³ä¸œ...,
3,è‹¹æœæŸ æª¬åˆ®æ²¹æ±¤,2.635392e+09,04æœˆ12æ—¥ 22:59,Androidå®¢æˆ·ç«¯,NaN,NaN,NaN,NaN,NaN,#æ—¥æœ¬æ ¸åºŸæ°´å¯è‡´ç™Œè‡´ç•¸è‡´çªå˜#,ä»Šæ—¥æ—¥æœ¬é¦–ç›¸è…ä¹‰ä¼Ÿå†æ¬¡è¡¨ç¤ºï¼Œç¦å²›æ ¸æ±¡æ°´æ’å…¥å¤§æµ·å·²ç»ä¸èƒ½æ¨è¿Ÿäº†å¾·å›½çš„æµ·æ´‹ç§‘å­¦ç ”ç©¶æœºæ„çš„è®¡ç®—æ˜¾ç¤º...,
4,é™³æ¯…YiChen,2.389546e+09,04æœˆ12æ—¥ 22:59,å°ç±³5s æ‹ç…§é»‘ç§‘æŠ€,NaN,NaN,NaN,NaN,NaN,#æ—¥æœ¬æ ¸åºŸæ°´å¯è‡´ç™Œè‡´ç•¸è‡´çªå˜#,ã€ä¸“å®¶ï¼šã€‘4æœˆ9æ—¥ï¼Œæ—¥æœ¬æ”¿åºœåŸºæœ¬å†³å®šå°†ç¦å²›æ ¸æ±¡æ°´æ’å…¥å¤§æµ·ã€‚12æ—¥ï¼Œæ—¥æœ¬é¦–ç›¸è…ä¹‰ä¼Ÿè¡¨ç¤ºï¼Œè§£å†³ä¸œ...,

In [716]:
df.to_csv("../data/Fukushima.csv",index=False,sep=',', encoding='utf-8')